*~
/PlanAhead/DigSpartan.runs/.jobs
/PlanAhead/DigSpartan.runs/synth_1/*
!/PlanAhead/DigSpartan.runs/synth_1/*.ngc

/PlanAhead/DigSpartan.runs/impl_1/*
!/PlanAhead/DigSpartan.runs/impl_1/*.bit
!/PlanAhead/DigSpartan.runs/impl_1/*.bmm
!/PlanAhead/DigSpartan.runs/impl_1/*.ncd

/PlanAhead/DigSpartan.srcs/sources_1/edk/mcu/*
!/PlanAhead/DigSpartan.srcs/sources_1/edk/mcu/mcu.xmp
!/PlanAhead/DigSpartan.srcs/sources_1/edk/mcu/mcu.mhs
!/PlanAhead/DigSpartan.srcs/sources_1/edk/mcu/data