NET "lvds_clk_n" IOSTANDARD = LVDS_33;
NET "lvds_clk_p" LOC = P134;
NET "lvds_clk_n" LOC = P133;
NET "lvds_in_p[0]" LOC = P132;
NET "lvds_in_n[0]" LOC = P131;
NET "lvds_in_p[1]" LOC = P127;
NET "lvds_in_n[1]" LOC = P126;
NET "lvds_in_p[2]" LOC = P124;
NET "lvds_in_n[2]" LOC = P123;
NET "lvds_in_p[3]" LOC = P119;
NET "lvds_in_n[3]" LOC = P118;
NET "lvds_in_p[0]" IOSTANDARD = LVDS_33;
NET "lvds_in_n[0]" IOSTANDARD = LVDS_33;
NET "lvds_out_p[3]" IOSTANDARD = LVDS_33;
NET "lvds_out_n[3]" IOSTANDARD = LVDS_33;
NET "lvds_out_p[2]" IOSTANDARD = LVDS_33;
NET "lvds_out_n[2]" IOSTANDARD = LVDS_33;
NET "lvds_out_p[1]" IOSTANDARD = LVDS_33;
NET "lvds_out_n[1]" IOSTANDARD = LVDS_33;
NET "lvds_out_p[0]" IOSTANDARD = LVDS_33;
NET "lvds_out_n[0]" IOSTANDARD = LVDS_33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "rst" IOSTANDARD = LVCMOS33;
NET "clk" LOC = P85;
NET "rst" LOC = P84;
NET "button[0]" LOC = P78;
NET "button[1]" LOC = P79;
NET "led[0]" LOC = P1;
NET "led[1]" LOC = P2;
NET "led[2]" LOC = P5;
NET "led[3]" LOC = P6;
NET "led[4]" LOC = P7;
NET "led[5]" LOC = P8;
NET "led[6]" LOC = P9;
NET "led[7]" LOC = P10;
NET "uart_rx" IOSTANDARD = LVCMOS33;
NET "uart_tx" IOSTANDARD = LVCMOS33;
NET "button[1]" IOSTANDARD = LVCMOS33;
NET "button[0]" IOSTANDARD = LVCMOS33;
NET "led[7]" IOSTANDARD = LVCMOS33;
NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "uart_rx" LOC = P75;
NET "uart_tx" LOC = P74;
NET "lvds_out_p[0]" LOC = P39;
NET "lvds_out_n[0]" LOC = P38;
NET "lvds_out_p[1]" LOC = P41;
NET "lvds_out_n[1]" LOC = P40;
NET "lvds_out_p[2]" LOC = P44;
NET "lvds_out_n[2]" LOC = P43;
NET "lvds_out_p[3]" LOC = P46;
NET "lvds_out_n[3]" LOC = P45;
